<!DOCTYPE html>
<!-- note enseguida la referencia a thymeleaf -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Controller</title>
</head>

<body>
    <!-- ${nombre} recibe lo enviado por model.addAttribute("nombre", nombre); -->
    <p th:text="'Hello, ' + ${nombre} + '!'" />

    <table>
        <th:block th:each="persona : ${personas}">
            <tr>
                <td th:text="${persona.id}">...</td>
                <td th:text="${persona.nombre}">...</td>
            </tr>
        </th:block>
    </table>

</body>

</html>